.color-bar {
    --color: 0;
    --width: 0;
    container-type: inline-size;
}

.color-bar .bar {
    position: absolute;
    border-radius: 5px;
    background-color: var(--color);
    width: var(--width);
    transition: width ease-out 250ms;
    height: 2.5em;
}
