
.led line {
  transform-origin: 201.22px 31px;
  transform: rotate(30deg)
}

.cls-1 {
  font-family: MyriadPro-Regular, 'Myriad Pro';
  font-size: 8px;
}

.cls-1, .cls-2 {
  fill: #000;
}

.cls-2, .cls-3 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-3 {
  fill: none;
  stroke-width: 2px;
}
