#power-vis {
    position: relative;
    height: 100%;
    width: 60%;
    --x: 0;
    container-type: size
}

#power-vis .red1 {
    position: absolute;
    border: 2px solid #000000;
    background-color: #E20000;
    width: 25%;
    height: 1.5vw;
}

#power-vis .green {
    position: absolute;
    border: 2px solid #000000;
    background-color: #009007;
    left: 24%;
    width: 45%;
    height: 1.5vw;
}

#power-vis .red2 {
    position: absolute;
    border: 2px solid #000000;
    background-color: #E20000;
    left: 68%;
    width: 25%;
    height: 1.5vw;
}

#power-vis .arrow-up {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    top: 15px;
    left: 90%;
    transform: translateX(var(--x));
    transition: transform 200ms ease-out;

}

#power-vis .arrow-down {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000000;
    top: -6px;
    left: 90%;
    transform: translateX(var(--x));
    transition: transform 200ms ease-out;
}