#power-vis {
    position: relative;
    width: 60%;
    --x: 0cqw;
    container-type: inline-size;
}

#power-vis .red1 {
    position: absolute;
    border: 2px solid #000000;
    background-color: #DD3636;
    width: 25%;
    height: 1.5vw;
    box-shadow: inset 0 0 30px #FF6464;
}

#power-vis .green {
    position: absolute;
    border: 2px solid #000000;
    background-color: #3DBE44;
    left: 24%;
    width: 50%;
    height: 1.5vw;
    box-shadow: inset 0 0 40px #61DA67;
}

#power-vis .red2 {
    position: absolute;
    border: 2px solid #000000;
    background-color: #DD3636;
    left: 73%;
    width: 25%;
    height: 1.5vw;
    box-shadow: inset 0 0 30px #FF6464;
}

#power-vis .arrow-up {
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    top: 15px;
    left: 47.5%;
    transform: translateX(var(--x));
    transition: transform 200ms ease-out;

}

#power-vis .arrow-down {
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000000;
    top: 4px;
    left: 47.5%;
    transform: translateX(var(--x));
    transition: transform 200ms ease-out;
}