#power-vis {
    position: relative;
    width: 60%;
    --x: 0cqw;
    container-type: inline-size;
}

#power-vis .red1 {
    position: absolute;
    border: 2px solid #000000;
    background-color: #ad0000;
    width: 25%;
    height: 1.5vw;
    box-shadow: inset 0 0 30px #ff0800;
}

#power-vis .green {
    position: absolute;
    border: 2px solid #000000;
    background-color: #008307;
    left: 24%;
    width: 50%;
    height: 1.5vw;
    box-shadow: inset 0 0 40px #00c009;
}

#power-vis .red2 {
    position: absolute;
    border: 2px solid #000000;
    background-color: #ad0000;
    left: 73%;
    width: 25%;
    height: 1.5vw;
    box-shadow: inset 0 0 30px #ff0800;
}

#power-vis .arrow-up {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    top: 15px;
    left: 46%;
    transform: translateX(var(--x));
    transition: transform 200ms ease-out;

}

#power-vis .arrow-down {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000000;
    top: -6px;
    left: 46%;
    transform: translateX(var(--x));
    transition: transform 200ms ease-out;
}