#temperature_vis {
  --mlu1_temperature: #000000;
  --mlu2_temperature: #000000;
  --mlu3_temperature: #000000;
  --mlu4_temperature: #000000;
  --mlu5_temperature: #000000;
  --mlu6_temperature: #000000;
  --mgu1_starboard_temperature: #000000;
  --mgu1_port_temperature: #000000;
  --mgu2_starboard_temperature: #000000;
  --mgu2_port_temperature: #000000;
  --ebox1_temperature: #000000;
  --ebox2_temperature: #000000;
  --dslim_starboard_temperature: #000000;
  --dslim_port_temperature: #000000;
  --motor_driver_temperature: #000000;
  --cooling_reservoir_temperature: #000000;
}

.mlu1 {
  fill: var(--mlu1_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}


.mlu2 {
  fill: var(--mlu2_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mlu3 {
  fill: var(--mlu3_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mlu4 {
  fill: var(--mlu4_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mlu5 {
  fill: var(--mlu5_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mlu6 {
  fill: var(--mlu6_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mgu1_starboard {
  fill: var(--mgu1_starboard_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mgu1_port {
  fill: var(--mgu1_port_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mgu2_starboard {
  fill: var(--mgu2_starboard_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.mgu2_port {
  fill: var(--mgu2_port_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.ebox1 {
  fill: var(--ebox1_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.ebox2 {
  fill: var(--ebox2_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.motor_driver_board {
  fill: var(--motor_driver_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.cooling_reservoir {
  fill: var(--cooling_reservoir_temperature);
  stroke: #000000;
  transition: fill 1s linear;
  stroke-miterlimit: 10;
}

.dslim_starboard {
  fill: var(--dslim_starboard_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.dslim_port {
  fill: var(--dslim_port_temperature);
  transition: fill 1s linear;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st0 {
  fill: #C3C5CB;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #FFFFFF;
}

.st3 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st5 {
  stroke: #000000;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}
